.profilePage {
	display: flex;
	align-items: center;
	align-content: center;
	align-self: center;
	justify-content: center;

	height: 100vh;
	width: 100vw;
}
.background{
	z-index: -2;
	position: relative;
	background-color: #EFEFEF;
}
svg{
	width: 50%;
	height: auto;
}
.centeredBackground {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	height: auto;
	z-index: -1;
}


.profileBox {
	display: flex;
	padding: 1%;
	width: 19%;

	justify-content: center;
}
h1 {
	color: #5D3819;
}
.statsBox {
	padding: 1%;
	border-radius: 25px;
	background-color: #E7BCC8;
}

.statTable {
	margin-left: 6%;
}

.settingsButton {
	margin-top: 0;
	margin-left: 0;
	padding: 5px;
	border-radius: 10px;


}




.profileInfo {
	display: flex;
	flex-direction: column;
	width: 118%;

}