.dogCardHand {
    z-index: 1;
    align-items: center;
    align-content: center;


    height: 20vh;
    width: auto;
}

.frontCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: #EFEFEF;
    z-index: 3;
}

.frontCover svg {
    font-size: 10.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    background-color: transparent;
}

.startButton {
    color: #000;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 12rem;
}

.title{
    z-index: 2;
    align-content: center;
    height: 20vh;
    width: auto;
    margin-top: -10rem;
    margin-bottom: 5rem;
}
